@use "../utils/_index.scss" as *;

.title {
  width: fit-content;
  font-weight: 500;
  line-height: 150%; /* 24px/16 */
  text-transform: uppercase;
  color: $tex-color-secondary;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 8px;

  &:before {
    content: "";
    display: inline-block;
    width: 53px;
    height: 2px;
    border-radius: 5px;
    background-color: $color-red;
  }
  &--center {
    align-items: center;
  }
}

.section-title {
  font-weight: 600;
  line-height: 150%; /* 54px/36 */
  color: $tex-color-secondary;
  @include adaptive-property(font-size, 1.25, 0, 2.25, rem);
}

.button {
  width: fit-content;
  z-index: 1;
  position: relative;
  color: $tex-color-secondary;
  padding-inline: 1rem;
  padding-block: 0.875rem;
  cursor: pointer;
  border-radius: 4px;
}
.button-border-show {
  background-color: $color-red;
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center;
    transform: scale(1);
    border-radius: 4px;
  }
  @include hover-pseudo("::before") {
    border: 4px solid $color-red;
    transition: all $transition-duraction ease-in-out;
    transform-origin: center;
    transform: scale(1.3);
    opacity: 0;
  }
}
.button-border-show--white {
  border: 1px solid $tex-color-secondary;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center;
    transform: scale(1);
    border-radius: 4px;
  }
  @include hover-pseudo("::before") {
    border: 4px solid $tex-color-secondary;
    transition: all $transition-duraction ease-in-out;
    transform-origin: center;
    transform: scale(1.3);
    opacity: 0;
  }
}
.button-border-show--border {
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center;
    transform: scale(1);
    border-radius: 4px;
  }
  @include hover-pseudo("::before") {
    border: 4px solid $tex-color-secondary;
    transition: all $transition-duraction ease-in-out;
    transform-origin: center;
    transform: scale(1.3);
    opacity: 0;
  }
}
