@use "../utils/_index.scss" as *;

.title {
  font-weight: 500;
  line-height: 150%; /* 24px/16 */
  text-transform: uppercase;
  color: $tex-color-secondary;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 8px;

  &:before {
    content: "";
    display: inline-block;
    width: 53px;
    height: 2px;
    border-radius: 5px;
    background-color: $color-red;
  }
}

.header-title {
  font-weight: 600;
  line-height: 150%; /* 54px/36 */
  color: $tex-color-secondary;
  @include adaptive-property(font-size, 1.25, 0, 2.25, rem);
}

.button {
  z-index: 1;
  position: relative;
  color: $tex-color-secondary;
  padding-inline: 1rem;
  padding-block: 0.875rem;
  background-color: $color-red;
  cursor: pointer;
  border-radius: 4px;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center;
    transform: scale(1);
  }
  @include hover-pseudo("::before") {
    border: 4px solid $color-red;
    transition: all $transition-duraction ease-in-out;
    transform-origin: center;
    transform: scale(1.4);
    opacity: 0;
  }
}

// .button:hover::before {
//   transition: all 0.75s ease-in-out;
//   transform-origin: center;
//   transform: scale(1.5);
//   opacity: 0;
// }
