$font-family: "Poppins, sans-serif"; // Шрифт за замовчуванням
$font-size: 1rem; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

$text-color-main: #787a78;
$tex-color-secondary: #fff;
$color-red: #d68240;
$color-pink: #f07d6b;
$bg-color-main: #000;

$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

$radius: 16px;

$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

$min-width: 320;
$max-width: 1920;
$max-width-container: 1440;
$container-padding: 30;
$container-width: $max-width-container + $container-padding;

$pc: $container-width; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile-l: 767.98; // Телефони L
$mobile-s: 479.98; // Телефони S<link rel="preconnect" href="https://fonts.googleapis.com">